/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

> 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.

## Colors

### Primary

- Tomato: hsl(4, 100%, 67%)

### Neutral

- Dark Slate Grey: hsl(234, 29%, 20%)
- Charcoal Grey: hsl(235, 18%, 26%)
- Grey: hsl(231, 7%, 60%)
- White: 

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Roboto](https://fonts.google.com/specimen/Roboto)
- Weights: 400, 700
 */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
:root {
    --orangeRed: hsl(4, 100%, 67%);
    --darkGray: hsl(234, 29%, 20%);
    --charcoalGray: hsl(235, 18%, 26%);
    --gray: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Roboto';
}

article {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100vh;
}

article img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

h1.updated {
    font-size: 2.5rem;
    color: var(--darkGray);
}
 
ul {
    height: 300px;
    margin-top: 2rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.checkmark-list {
    width: 20px;
    margin: 0px;
}
article p {
    margin-top: 2rem;
}

.article-content {
    padding: 1.5rem;
}
.hidden {
    display: none;
}

.emailContainer label {
    font-size: 12px;
    font-weight: 700;
} 
.emailContainer input {
    margin: 10px 0px 0px;
    width: 100%;
    height: 50px;
    padding: 1rem;
    border-radius: 5px;
    border: .5px solid var(--gray);
}

#subscribe {
    padding: 1rem;
    border-radius: 5px;
    border: none;
    background-color: var(--darkGray);
    color: var(--white);
    font-weight: 700;
}
#subscribe:hover {
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    body {
        background-color: var(--charcoalGray);
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        
    }

    article {
        background-color: var(--white);
        border-radius: 20px;
        padding: 1rem;
        width: 800px;
        height: 630px;
        flex-direction: row;
        align-items: center;
    }

    .article-content {
        order: -1;
    }
    article img {
        width: auto;
        margin: 0px;
    }

    
    
}